html {
	color: #000;
	overflow-x: auto;
	overflow-y: scroll;	
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	background: url(../images/over.png) repeat-x;
	background-color: rgb(0, 153, 204);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 0;
	margin: 0;
	border: none;
}
a {
	color: #000;
}

/* Hintergrund */

.bg {
	margin: auto;
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
}
.logo-img {
	position: absolute;
	left:171px;
	top:0;
	z-index: 10;
	background: url(../images/bgsmall.png);
	width: 527px;
	height: 160px;
}
#box {
	width: 1200px;
	position: relative;
   	margin: auto auto;
}

/* Navigation */

#navigation {
	margin: -42px 0 0 0;
	text-align: center;
	position: absolute;
	width:965px;
	left:118px;
	padding: 10px 0 10px 0;
	z-index: 3;
	background:rgb(77,188,233);
	z-index: 12;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.ap {
	top:375px;
}
.doublenav{
	top:360px;
}
#navigation div.left {
	border-left: rgb(0, 153, 204) 1px dotted;
}

#navigation .current,#navigation .normal {
	font-size: 15px;
	cursor: pointer;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 0px 20px 0px 20px;
	border-right: rgb(0, 153, 204) 1px dotted;
	text-transform: uppercase;
	font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
	font-weight: bold; 
}
#catnav {
	height: 15px;
}
#navigation #catnav .current,#navigation #catnav .normal{
	font-weight:normal;
	font-size: 14px;
	position: relative;
	top:-5px;
	padding: 0px 10px 0px 10px;
	font-weight:300;
	font-stretch: condensed;
}
.normal a {
	text-decoration: none;
	color: #000;
}
.normal.small {
	font-weight: lighter !important;
	letter-spacing: -1px !important;
	font-size: 13px !important;
	padding: 1.5px 10px 1.5px 10px !important;
}
.current a {
	text-decoration: none;
	color: white;
}

/* Fu§zeile */

#footer {
	margin-top: 20px;
	width:100%;
	height: 200px;
	border-top:1px solid #ddd;
}
#footer-element {
	width:100%;
	background: rgb(77,188,233);
	background: -webkit-gradient(linear, left top, left bottom, from(#4dbce9), to(#4aaad1)) no-repeat;
	background: -moz-linear-gradient(top,  #4dbce9,  #4aaad1) no-repeat;
	background: -o-linear-gradient(#4dbce9, #4aaad1) no-repeat;
	height: 200px;
	border-top:1px solid #bdbdbd;
}
#footer-content {
	width: 965px;
	margin: auto;
	padding-top: 30px;
	color: #FFF;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	text-shadow: 2px 2px 7px rgb(100,100,100);
	font-size: 13px;
	line-height: 20px;
}
#footer-content a{
	color: #FFF !important;
	text-decoration: none;
}

#footer-content #footer-logo{
	float: right;
	margin-top:-100px;
}
#center {
	float: left;
	text-align: center;
	width: 965px;
	margin-top: -58px;
}
#center img{
	position: relative;
	top:10px;
}

/* Startseite */

.index-nav {
	top:368px;
}
#ss_banner {
	position: absolute;
	top:91px;
	left:89px;
	width:1023px;
	height: 280px;
	overflow: hidden;
	z-index: 3;
}
.slide {
	position: absolute;
 	background-color: rgba(0,0,0,0);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position-x: 0;
 	background-position-y: center;
 	width:100%;
 	height: 100%;
	-moz-background-clip: content; 
	-webkit-background-clip: content;
	background-clip: content-box;  
	z-index: 2;
	padding: 0;
}
.slide img {
	width:965px;
	margin-left: 29px;
	margin-top: 29px;
}
.slide.active {
	z-index: 4;
}

#Inhalt {
	text-align: left;
	position: absolute;
	margin: 0 auto;
	left: 11px;
	top: 113px;
	width: 670px;
	height: 435px;
	padding: 0;
	z-index: 5;
}

#Inhalt a {
	text-decoration: underline;
	color: black;	
}

/* Articles */

.banner {
	position: absolute;
	top:118px;
	left:118px;
	height:260px;
	overflow: hidden;
	z-index: 4;
}
.banner img {
	width: 965px;
}

.digest {
	position: absolute;
	top:395px;left:108px;
	margin-top: 12px;
	height: 170px;
	background: rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.8);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	color: #000;
	margin-bottom: 20px;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	width: 945px;
	margin-left: 10px;
	z-index: 10;
	overflow: hidden;
	padding: 10px;
}
.digest img {
	width: 850px;
	margin-top:14px;
	margin-left:48px;
}
.article {
	background: rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.8);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	padding: 30px;
	position: absolute;
	text-align: justify;
	left: 118px;top:628px;
	width:550px;
	z-index: 10;
	line-height: 21px;
}
.top {
	top:402px !important;
}
.rellink {
	text-decoration: none;
	background: #333;
	position: absolute;
	left: 729px;top:452px;
	width: 294px;
	height: 60px;
	z-index: 10;
	padding: 20px;
	padding-right: 40px;
	color: #FFF;
}

.bg-rlink {
	position: absolute;
	left: 729px;top:628px;
	
}
.rellink.picture {
	width: 204px;
	padding-left: 100px;
	padding-right: 20px !important;
}
.rellink p {
	font-size: 13px;
	text-align: justify;
	margin-top: 2px;
	line-height:14px;
	word-spacing: -2px;
}
.header3 {
	font-weight: 700;
  	text-shadow: 0px 0px 20px rgb(100,100,100);
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 1px;
}

/* News Boxes */
.news {
	position: absolute;
	top:380px;
	left: 110px;
	z-index:9;
}

.newstitle {
	font-weight: bold;
	font-size: 20px;
}

.newsboxes {
	position: absolute;
	left:530px;
	top:10px;
}

.newsbox {
	margin-top: 12px;
	height: 90px;
	background: rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.8);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	zoom:1;
	color: #000;
	position: relative;
	margin-bottom: 20px;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	width: 390px;
	margin-left: 10px;
	z-index: 10;
	cursor: pointer;
	overflow: hidden;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 15px 15px 25px;
	text-align: justify;
}
.newsbox img {
	float: left;
	margin-top: 16px;
	margin-right: 10px;
	position: relative;
	top:6px;
}
.newsbox p {
	position: relative;
	top:6px;
}
.newsbox h2 {
	font-weight: 700;
	display: inline;
	font-size: 26px;
	position: absolute;
	top:6px;
}
.newsbox.resize {
	height: 20px;
	position: relative;
	margin-top: 22px;
	width: 460px;
}
.newsbox.double {
	height: 224px;
}
.newsbox.resize:not(.active) img {
	display: none;
}
.newsbox.resize:not(.active) p {
	display: none;
}
.newsbox.resize:not(.active) h2 {
	position: absolute;
	top:-6px;
}
.newsbox-right{
	position: absolute;
	left: 530px;top:21px;
}

/* Events */

#events {
	position: absolute;
	left: 118px;
	top:382px;
	z-index: 11;
	width: 964px;
	height: 709px;
	overflow: hidden;
}
.line {
	position: relative;
	white-space: nowrap;
	width: 1200px;
}
.event {
	background-color: #fff;
	width:285px;
	height: 285px;
	display: inline-block;
	margin: 20px 20px 0 0;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	cursor: pointer;
}
#scrollbar {
	width: 964px;
	height: 30px;
	background-color: rgba(255,255,255,0.8);
	margin-top: 20px;
	position: absolute;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	top:627px;
	z-index: 4;
}
#handle {
	width: 240px;
	height: 30px;
	background-color: rgb(77,188,233);
	margin-top: 20px;
	margin-left: -120px;
	z-index: 5;
	cursor: pointer;
	position: absolute;
	top:627px;
	left:120px;
}
#ovf {
	position: absolute;
	top:402px;
	left:118px;
	overflow: hidden;
	width: 969px;
	height: 669px;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
}
#animation {
	position: absolute;
	top:402px;
	left:118px;
	background-color: #fff;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	width: 964px;
	height: 669px;
	z-index: 14;
	background: rgb(219, 242, 251);
}

/* Presentation */

#animation h2 {
	margin-left: 50px;
	margin-top: 20px;
	text-transform: uppercase;
	color: #FFF;
}

#presentation {
	width: 864px;
	height: 540px;
	position: absolute;
	left: 50px;
	top:86px;
	overflow: hidden;
	background-color: rgb(219, 242, 251);
}
#pages {
	position: relative;
	width: 10000px;
	font-size: 0;
	white-space: nowrap;
}
.page {
	display: block; 
	float: left;
	width: 864px;
	height: 540px;
	margin-right: 10px;
	font-size: 14px;
	background-color: #dff7ff;
}
#control-right {
	width:30px;
	height:54px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top:325px;
	left:884px;
	text-align: center;
	padding-top: 26px;
	font-size: 18px;
	color: rgba(0,0,0,0.9);
	cursor: pointer;
}
#control-left {
	width:30px;
	height:54px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top:325px;
	left:50px;
	text-align: center;
	padding-top: 26px;
	font-size: 18px;
	color: rgba(0,0,0,0.9);
	cursor: pointer;
}
.pagetext {
	margin: 40px auto 20px auto;
	width:650px;
	white-space: normal;
	text-align: justify;
	padding: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #cceaf4;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
}
.pagemedia {
	margin: auto;
	text-align: center;
}
.pagelarge {
	margin: 200px auto 20px auto;
	width:650px;
	font-family: Verdana, Geneva, sans-serif; 
	font-size: 22px; 
	font-weight:700;
	color: #FFF;
	text-align: justify;
  	text-shadow: 0px 0px 20px rgb(100,100,100);
  	word-spacing: -5px;
}

/* Kontakt */

#kontakt {
	position: absolute;
	top:406px;
	left:118px;
	padding-top: 30px;
	background-color: rgba(255,255,255,0.8);
	background: rgba(255,255,255,0.8);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	zoom: 1;
	width: 684px;
	height: 304px;
	max-height: 304px;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	z-index: 5;
}
	
fieldset {
	border: none;	
	float: left;
	display: inline;
	width: 245px;
}		

#kontakt p {
	margin-bottom: 15px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

label {
	display: block;
	margin-bottom: 3px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
	
fieldset input, textarea {		
	border: 1px solid #ddd;
	padding: 3px;
	padding-top: 5px;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text;
    cursor: text;
}

#kontakt fieldset#basics {
  margin-left: 42px;
}

#kontakt fieldset#nachricht {
	margin-left: 28px;
}

#kontakt fieldset#basics input {
    width: 235px;
}

#kontakt fieldset#nachricht textarea {
	height: 154px;
	max-height: 154px;
	min-height: 154px;
	overflow: auto;
	width: 265px;
	max-width: 265px;
	min-width: 265px;
    resize: none;
	margin-top: 2px;
}

#kontakt button {
	position: absolute;
	right:60px;
	bottom:30px;
	width: 150px;
	height: 37px;
	cursor: pointer;
	border: none;
	background-color: rgba(50,50,50,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC323232,endColorstr=#CC323232);
	z-index: 5;
	color: #fff;
}				
.bg-form {
	position: absolute;
	left: 802px;
	top:406px;
}
#message {
	position: absolute;
	right: 230px;
	bottom:30px;
	line-height: 20px;
}
#kontakt-informationen {
	position: absolute;
	top:746px;
	left:118px;
	margin-top: 20px;
	float: left;
	background-color: rgba(255,255,255,0.8);
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	zoom:1;
	width: 364px;
	height: 114px;
	line-height: 1.2;
}

#kontakt-informationen p#adresse {
	margin-left: 42px;
	margin-top: 30px;
	float: left;
}

#kontakt-informationen p#contact {
	margin-top: 48px;
	margin-left: 20px;
	float: left;
}
#social {
	position: absolute;
	top:746px;
	left:494px;
	float: right;
	background-color: rgba(255,255,255,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	width: 244px;
	height: 114px;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 29px;
	padding-right: 19px;
}
	
#social a {
	width: 64px;
	height: 64px;
	float: right;
	margin-top: 22px;
	padding-right: 8px;
}

#twitter {
	background: url(../images/kontakt/twitter.png) no-repeat scroll 0 0;
}

#facebook {
	background: url(../images/kontakt/facebook.png) no-repeat scroll 0 0;
}

#youtube {
	background: url(../images/kontakt/youtube.png) no-repeat scroll 0 0;
}
#rightside {
	position: absolute;
	top:746px;
	left:784px;
	float: right;
	background-color: rgba(255,255,255,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	width: 265px;
	height: 114px;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 29px;
	padding-right: 19px;
}

/* Newsletter */
#newsletter {
	z-index: 10;
	position: absolute;
	top:406px;
	left:118px;
	background-color: rgba(255,255,255,0.8);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	zoom:1;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	padding-bottom: 30px;
	padding-top: 19px;
	padding-right: 50px;
	padding-left: 50px;
	height: 258px;
	width: 590px;
	line-height: 1.2;
	text-align: justify;
}
#newsletter #message {
	left:50px !important;
}
#newsletter fieldset {
	margin-top: -10px;
	float: left;
	width: 500px;
}
#newsletter button {
	position: absolute;
	right:90px;
	bottom:95px;
	width: 150px;
	height: 37px;
	cursor: pointer;
	border: none;
	background-color: rgba(50,50,50,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC323232,endColorstr=#CC323232);
	z-index: 5;
	color: #fff;
}		
#newsletter-img {
	position: absolute;
	top:406px;
	left:808px;
	z-index: 11;
	width:275px;
	height:308px;
}