html {
	background: rgb(77,188,233);
	color: #000;
	overflow: hidden;
	overflow-y: scroll;
}

body {
	background: rgb(77,188,233);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.bg {
	margin: auto;
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
	background: rgb(0, 153, 204);
}
.logo-img {
	position: absolute;
	z-index: 10;
	background: url(../images/bgsmall.png);
	width: 698px;
	height: 160px;
}
.bg-logo {
	position: absolute;
	top:0px;
	z-index: 9;
	background: rgb(77,188,233);
	width: 698px;
	height: 160px;
}
.dropleft {
	position: absolute;
	left:13.2px;top:160px;
	background:url(../images/down.png) repeat-y !important;
	background: transparent;
	width:129px;
	height:100%;
	z-index: 1;
}
.bg-dropleft {
	position: absolute;
	left:0;top:160px;
	background: rgb(77,188,233);
	width:129px;
	height:100%;
}
.dropright {
	position: absolute;
	right:12.2px;top:160px;
	background:url(../images/down.png) repeat-y !important;
	background: transparent;
	width:129px;
	height:100%;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    z-index: 1;
}
.bg-dropright {
	position: absolute;
	right:-1px;top:160px;
	background: rgb(77,188,233);
	width:129px;
	height:100%;
}
.turnright {
	position: absolute;
	right:-1px;top:0;
	background:url(../images/bgsmall.png) no-repeat !important;
	width:160px;
	height:160px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    z-index: 3;
}
.bg-turnright {
	position: absolute;
	right:-2px;top:0;
	background:rgb(77,188,233);
	width:161px;
	height:160px;
	z-index: 2;
}
.turnright-bottom {
	position: absolute;
	right:-1px;bottom:0;
	background:url(../images/bgsmall.png) no-repeat !important;
	width:160px;
	height:160px;
	-moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    filter: FlipV;
    -ms-filter: "FlipV";
    z-index: 4;
}
.bg-turnright-bottom {
	position: absolute;
	right:-1px;bottom:0;
	background:rgb(77,188,233);
	width:160px;
	height:160px;
	z-index: 3;
}
.turnleft-bottom {
	position: absolute;
	left:0.2px;bottom:0;
	background:url(../images/bgsmall.png) no-repeat !important;
	width:160px;
	height:160px;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    z-index: 4;
}
.bg-turnleft-bottom {
	position: absolute;
	left:0;bottom:0;
	background:rgb(77,188,233);
	width:159px;
	height:160px;
	z-index: 3;
}
.dropover {
	position: absolute;
	top:0;left:698px;
	background: url(../images/over.png) repeat-x;
	height: 160px;
	width:100%;
	z-index: 2;
}

.bg-dropover {
	position: absolute;
	top:0;left:698px;
	background: rgb(77,188,233);
	height: 160px;
	width:100%;
}
.dropover-bottom {
	position: absolute;
	bottom:0;left:0;
	background: url(../images/over.png) repeat-x;
	height: 160px;
	width:100%;
	z-index: 2;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    z-index: 3;
}
.bg-dropover-bottom {
	position: absolute;
	bottom:0;left:0;
	background: rgb(77,188,233);
	height: 160px;
	width:100%;
	z-index: 2;
}
#box {
	width: 1200px;
    height: 672px;
	position: relative;
   	margin: auto auto;
	overflow: hidden;
}



#navigation {
	margin: -42px 0 0 0;
	text-align: center;
	position: absolute;
	width:965px;
	left:118px;
	padding: 10px 0 10px 0;
	z-index: 3;
	background:rgb(77,188,233);
	z-index: 12;
	opacity: 0.7;
}
.ap {
	top:222px;
}
#navigation div.left {
	border-left: rgb(0, 153, 204) 1px dotted;
}

#navigation div {
	font-size: 15px;
	cursor: pointer;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 0px 20px 0px 20px;
	border-right: rgb(0, 153, 204) 1px dotted;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold; 
}
.normal a {
	text-decoration: none;
	color: #000;
}
.normal.small {
	font-weight: lighter !important;
	letter-spacing: -1px !important;
	font-size: 13px !important;
	padding: 1.5px 10px 1.5px 10px !important;
}
.current a {
	text-decoration: none;
	color: white;
}

.index-nav {
	top:368px;
}

#content {
}


#ss_banner {
	position: absolute;
	top:91px;
	left:89px;
	width:1023px;
	height: 280px;
	cursor: pointer;
	overflow: hidden;
	z-index: 3;
}
#ss_controls {
	position: absolute;
	top:340px;
	left:90px;
	height:10px;
	width:1023px;
	z-index: 11;
	text-align: center;
}
.slide-control {
	display: inline-block;
	width:12px;
	height:12px;
	border-radius:12px;
	background-color: white;
	border:1px lightgrey solid;
	margin: 3px;
	cursor: pointer;
}
#slide-control-active {
	background-color: grey;
}
.slide {
	position: absolute;
 	background-color: rgba(0,0,0,0);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position-x: 0;
 	background-position-y: center;
 	width:100%;
 	height: 100%;
	-moz-background-clip: content; 
	-webkit-background-clip: content;
	background-clip: content-box;  
	z-index: 2;
	padding: 0;
}
.slide img {
	width:965px;
	margin-left: 29px;
	margin-top: 29px;
}
.slide.active {
	z-index: 4;
}

#Inhalt {
	text-align: left;
	position: absolute;
	margin: 0 auto;
	left: 11px;
	top: 113px;
	width: 670px;
	height: 435px;
	padding: 0;
	z-index: 5;
}

#Inhalt a {
	text-decoration: underline;
	color: black;	
}

/* Articles */

.banner {
	position: absolute;
	top:118px;
	left:118px;
	height:107px;
	overflow: hidden;
	z-index: 4;
}
.banner img {
	width: 965px;
}

.digest {
	position: absolute;
	top:240px;left:108px;
	margin-top: 12px;
	height: 170px;
	background: rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.8);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	color: #000;
	margin-bottom: 20px;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	width: 945px;
	margin-left: 10px;
	z-index: 10;
	overflow: hidden;
	padding: 10px;
}

.article {
	background: rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.8);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	padding: 30px;
	position: absolute;
	text-align: justify;
	left: 128px;top:472px;
	width:550px;
	height:460px;
	z-index: 10;
	line-height: 21px;
}
.rellink {
	background: #333;
	position: absolute;
	left: 739px;top:442px;
	width: 264px;
	height: 60px;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	z-index: 10;
	padding: 20px;
	padding-right: 40px;
	color: #FFF;
}
.rellink.picture {
	width: 204px;
	padding-left: 100px;
	padding-right: 20px !important;
}
.rellink p {
	font-size: 13px;
	text-align: justify;
	margin-top: 2px;
	line-height:14px;
	word-spacing: -2px;
}

/* News Boxes */
.news {
	position: absolute;
	top:380px;
	left: 110px;
	z-index:9;
}

.newstitle {
	font-weight: bold;
	font-size: 20px;
}

.newsboxes {
	position: absolute;
	left:530px;
	top:10px;
}

.newsbox {
	margin-top: 12px;
	height: 90px;
	background: rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.8);
	background-color: transparent\9;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	zoom:1;
	color: #000;
	position: relative;
	margin-bottom: 20px;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	width: 390px;
	margin-left: 10px;
	z-index: 10;
	cursor: pointer;
	overflow: hidden;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 15px 15px 25px;
	text-align: justify;
}
.newsbox img {
	float: left;
	margin-top: 16px;
	margin-right: 10px;
	position: relative;
	top:6px;
}
.newsbox p {
	position: relative;
	top:6px;
}
.newsbox h2 {
	font-weight: 700;
	display: inline;
	font-size: 26px;
	position: absolute;
	top:6px;
}
.newsbox.resize {
	height: 20px;
	position: relative;
	margin-top: 22px;
	width: 460px;
}
.newsbox.resize:not(.active) img {
	display: none;
}
.newsbox.resize:not(.active) p {
	display: none;
}
.newsbox.resize:not(.active) h2 {
	position: absolute;
	top:-6px;
}

/* Events */

#events {
	position: absolute;
	left: 118px;
	top:240px;
	z-index: 11;
	width: 969px;
	height: 969px;
	overflow: hidden;
}
.line {
	position: relative;
	white-space: nowrap;
	width: 1200px;
}
.event {
	background-color: #fff;
	width:285px;
	height: 285px;
	display: inline-block;
	margin: 20px 20px 0 0;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	cursor: pointer;
}
#scrollbar {
	width: 969px;
	height: 30px;
	background-color: #AAA;
	margin-top: 20px;
	position: absolute;
	top:630px;
	z-index: 4;
}
#handle {
	width: 160px;
	height: 30px;
	background-color: #FFF;
	margin-top: 20px;
	margin-left: -80px;
	z-index: 5;
	position: absolute;
	top:630px;
	left:80px;
}
#ovf {
	position: absolute !important;
	top:260px;
	left:118px;
	overflow: hidden;
	width: 969px;
	height: 669px;
}
#animation {
	position: absolute !important;
	top:260px;
	left:118px;
	background-color: #fff;
	-webkit-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-moz-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	-o-box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.3);
	width: 964px;
	height: 669px;
	z-index: 14;
}
/* @group Footer */

#Footer {
	position: absolute;
	left: 176px;
	top: 100%;
	margin-top:-30px;
	z-index: 3;
}

#Footer img {
	margin-bottom: -12px;
	margin-left: 3px;
}

#Footer ul li {
	font-size: 10px;
	display: inline;
}

#Footer ul li.current a{
	color:  #fff;
}

#Footer ul li a {
	text-decoration: none;
	padding-right: 10px;
	color: #000;
	list-style-type: disc;
}

#Footer ul li iframe {
  margin-top: 5px;
  position: relative;
}

#Footer ul li a:hover {
	text-decoration: underline;
}

/* @end */
