<% content_for :head do  %>
<title>Anteilseigner » Afrophon</title>
<style type="text/css">
#box {
height: 1020px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="current"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal left"><a href="/sponsoren.html">Sponsoren</a></div>
<div class="normal"><a href="/bands.html">Bands</a></div>
<div class="current"><a href="/anteilseigner.html">Anteilseigner</a></div>
<div class="normal"><a href="/investorrelations.html">Investor Relations</a></div>
</div>
</div>
<div class="banner"><img src="images/unterstuetzer/banner.png"/></div> 
<div id="content">
<div class="article top" style="height:535px">
<p class="header3">Olaf Raschke</p>
 
Mit Olaf Raschke konnten wir den Meißner Oberbürgermeister als Vertreter der Stadt von unserer Idee und der damit verbundenen Arbeit überzeugen. Somit waren wir Anfang März bei ihm zu Besuch, um den Anteilsschein zu überreichen.
<br />
<p class="header3">Ulrike Ostermaier</p>
Ulrike Ostermaier unterstützt Afrophon nicht nur in ihrer Funktion als Schulleiterin von Sankt Afra, sondern auch privat. Dies äußert sich darin, dass sie direkt zu Beginn von der Idee so stark überzeugt war, dass sie einen Anteilsschein erwarb.
<br />
<p class="header3">Inga Skambracks</p>
Als zweite Anteilsscheineignerin aus den Reihen der Stadt, durften wir Inga Skambracks begrüßen, die wir während unseres Besuches beim Meißner Oberbürgermeister Olaf Raschke überzeugen konnten.
<br />
<p class="header3">Bernd Pawlowski</p>
Als Vertreter der Wirtschaft konnten wir Bernd Pawlowski, den Geschäftsführer der ELRO Gruppe GmbH gewinnen. Diese Unterstützung weitete sich später sogar vom Anteilsscheinkauf zu einem Sponsoring durch die Großkelterei Rötha GmbH aus.
</div>
<img class="bg-rlink" src="images/anteilseigner/bg-rlink.png" style="top:402px" />
</div>
