<% content_for :head do  %>
<style type="text/css">
#box {
height: 910px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="current"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal first"><a href="/sponsoren.html">Sponsoren</a></div>
<div class="current"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/anteilseigner.html">Anteilseigner</a></div>
<div class="normal"><a href="/investorrelations.html">Investor Relations</a></div>
</div>
</div>
