<% content_for :head do  %>
<style type="text/css">
#box {
height: 910px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="current"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal first"><a href="/sponsoren.html">Sponsoren</a></div>
<div class="current"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/anteilseigner.html">Anteilseigner</a></div>
<div class="normal"><a href="/investorrelations.html">Investor Relations</a></div>
</div>
</div>
<div id="content">
<div class="article top" style="padding-top:10px">
<p class="header3">Safran</p>

Anfangs als kleiner Treff von drei jungen Musikern, entwickelte sich durch das gemeinsame Interesse an eigenen Texten eine Schülerband. Im alternativem Stil behandeln ihre Texte sowohl Kritik an Schule als auch an der Gesellschaft. Dies wird durch eine ungewöhnliche Kombination von Klavier, Trommel, teilweise auch Gitarre oder Geige zu unterhaltsamer Satire und Kabarett.
</div>
<img class="bg-rlink" src="images/bands/bg-rlink.png" style="top:402px" />
</div>
