<% content_for :head do  %>
<title>Datenschutz » Afrophon</title>
<style type="text/css">
#box {
height: 1250px;
}
</style>
<% end %>
<div id="navigation" class="ap">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div class="banner"><img src="images/datenschutz/banner.png"/></div>
<div id="content">
<div id="text">
<h3>Datenschutz</h3>
<p>Afrophon nimmt den Schutz Ihrer persönlichen Daten sehr ernst und hält sich strikt an die Regeln der Datenschutzgesetze. In keinem Fall werden die erhobenen Daten verkauft.<br /><br />Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber, wie wir dies gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.<br /></p>
<h4>Datenverarbeitung auf dieser Internetseite</h4>
<p>Afrophon erhebt und speichert automatisch in Server Log Files Informationen, die Ihr Browser an übermittelt. Dies sind:</p>
<ul>
<li>Browsertyp/ -version</li>
<li>verwendetes Betriebssystem</li>
<li>Referrer URL (die zuvor besuchte Seite)</li>
<li>Hostname des zugreifenden Rechners (IP Adresse)</li>
<li>Uhrzeit der Serveranfrage.</li>
</ul>
<p>Diese Daten sind für Afrophon nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</p>
<h4>Diese Website nutzt Google Analytics, einen Webanalysedienst der Google Inc. (»Google«).</h4>
<p>Google Analytics verwendet sog. »Cookies«, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse) wird an einen Server der Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen.
Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen.
<br />
Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>
<h4>Kontaktformular</h4>
<p>Wenn Sie das auf der Webseite angebotene Kontaktformular benutzen möchten, benötigen wir von Ihnen eine valide E-Mail-Adresse sowie weitere Kontaktinformationen, damit wir ihr Anliegen ausführlich bearbeiten können. Weitere personenbezogene Daten werden nicht erhoben.
Diese Daten werden nur für den Zeitraum der Bearbeitung ihres Anliegens gespeichert.</p>
<h4>Auskunftsrecht</h4>
<p>Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer Person gespeicherten Daten, deren Herkunft und Empfänger sowie den Zweck der Speicherung. Auskunft über die gespeicherten Daten gibt der Datenschutzbeauftragte von Afrophon, Benjamin Bremmer (benni@afrophon.de).</p>
<h4>Weitere Informationen</h4>
<p>Ihr Vertrauen ist uns wichtig. Daher möchten Afrophon Ihnen jederzeit Rede und Antwort bezüglich der Verarbeitung Ihrer personenbezogenen Daten stehen. Wenn Sie Fragen haben, die Ihnen diese Datenschutzerklärung nicht beantworten konnte oder wenn Sie zu einem Punkt vertiefte Informationen wünschen, wenden Sie sich bitte jederzeit an den Datenschutzbeauftragten von Afrophon, Benjamin Bremmer (benni@afrophon.de).</p>
</div>

</div>