<% content_for :head do  %>
<style type="text/css">
#box {
height: 1200px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="current"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="current left"><a href="/entstehung.html">Entstehung eines Events</a></div>
<div class="normal"><a href="/zeitungsartikel.html">Zeitungsartikel</a></div>
</div>
</div>
<div class="banner"><img src="images/ueber-uns/banner.png"/></div> 
<div id="content">
<div class="digest"></div>
</div>
