<% content_for :head do  %>
<title>Entstehung » Afrophon</title>
<style type="text/css">
#box {
height: 2210px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="current"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="current left"><a href="/entstehung.html">Entstehung eines Events</a></div>
<div class="normal"><a href="/zeitungsartikel.html">Zeitungsartikel</a></div>
</div>
</div>
<div class="banner"><img src="images/ueber-uns/banner.png" alt=""/></div> 
<div id="content">
<div class="digest" style="height:380px">

<div class="h3">Konzept</div>

<div class="tooltip fest" style="left:220px; top:58px">
<img src="images/entstehung/treffen.png" alt="" />
<h4>Treffen</h4>
<div class="ttext">
Jede Woche findet zu einem festen Termin ein Afrophon-Treffen mit (fast) alle Mitarbeitern statt. Hier werden Arbeitsstände präsentiert, Fragen diskutiert und vor allem neue Event-Vorschläge gemacht und besprochen.
</div>
</div>
<br /><br />
<div class="verb" style="left:400px;width:3px;height:50px;top:182px"></div>
<div class="verb" style="left:155px;width:3px;height:25px;top:207px"></div>
<div class="verb" style="left:650px;width:3px;height:25px;top:207px"></div>
<div class="verb" style="left:155px;width:495px;height:3px;top:207px"></div>

<div class="mask" endwidth="350" endheight="173" style="left:115px;top:232px">
<div class="tooltip">
<img src="images/entstehung/disco.png" alt="" />
<h4>Disco</h4>
<div class="ttext">
Elektronische Musik – Geringerer Aufwand für Bandsuche und meistens Sponsoren, da wir meistens schon mit DJs zusammen eine Eventidee haben und dadurch die Gagen geringer sind. Wichtig: Ausrichtung der Technik auf weniger Instrumente und organisieren einer guten Bar. Atmosphäre im Mittelpunkt.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="350" endheight="143" style="left:360px;top:232px">
<div class="tooltip">
<img src="images/entstehung/band.png" alt="" />
<h4>Band-Event</h4>
<div class="ttext">
Nach der Entscheidung über den Musikstil (Rock, Indie, Funk...) anfragen von Bands und klären von Voraussetzungen. Abstimmen der Technik auf die Bands, guter Soundcheck, Verpflegung, Anreise und Gagen für Bands. Musik steht absolut im Mittelpunkt.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="350" endheight="173" style="left:605px;top:232px">
<div class="tooltip">
<img src="images/entstehung/kultur.png" alt="" />
<h4>Kultur/Literatur-Event</h4>
<div class="ttext">
Meistens auf Anfrage von außen oder eine spezielle Möglichkeit, die wir sehen. (z.B. Literaturfest) Nutzen der Technik und aller Kontakte um einem kulturellen Programm einen Rahmen zu geben. Wichtig ist die Zusammenarbeit mit dem Beitrag, um Musik und alles andere darauf abzustimmen. Kultur steht im Mittelpunkt.
</div>
<div class="close">[X]</div>
</div>
</div>

</div>

<div class="digest" style="height:380px;top:820px">

<div class="h3">Planung</div>

<div class="mask" endwidth="350" endheight="143" style="left:75px;top:60px">
<div class="tooltip">
<img src="images/entstehung/band-suche.png" alt="" />
<h4>Bands suchen</h4>
<div class="ttext">
Schlagwort „durchfragen“ - Die für Kontakte zuständigen Mitarbeiter fangen bei den Adressen die sie kenne an zu fragen, wer für unsere Eventidee eintreten würde. Viele Bands im Internet anhören, neue Kontakte knüpfen, fragen, fragen, fragen.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="380" endheight="143" style="left:255px;top:60px">
<div class="tooltip" style="width:355px;">
<img src="images/entstehung/logistik.png" alt="" />
<h4>Logistik & Technik organisieren</h4>
<div class="ttext">
Hier haben wir zwei feste Kontakte, bei denen Afrophon Technik ausleiht – das erspart viele Organisationsschwierigkeiten. Für den Transport finden wir als Schülerfirma meistens Unterstützung bei der Schule, wobei Aufbau und Transport gut abgestimmt sein müssen.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="350" endheight="143" style="left:435px;top:60px">
<div class="tooltip">
<img src="images/entstehung/location.png" alt="" />
<h4>Location suchen</h4>
<div class="ttext">
Welche Location passt zu diesem Event? Wie viele Personen erwarten wir? Brauchen wir eine Bar? Wer macht welchen Preis? Wenn solche Vorstellungen geklärt sind setzt sich ein Mitarbeiter von uns mit dem Inhaber der Location in Kontakt und vereinbart ein Treffen.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="350" endheight="143" style="left:595px;top:60px">
<div class="tooltip">
<img src="images/entstehung/sponsoren.png" alt="" />
<h4>Sponsoren suchen</h4>
<div class="ttext">
Lächeln, vorstellen, präsentieren, anfragen – Unser Sponsoren-Team geht direkt auf Betriebe zu, stellt unsere Idee vor und kommt dann auf ein spezielle Event zu sprechen, für das Sponsoren gesucht werden. Grundregeln: Vertrag dabei haben, eine Summe vorschlagen, entgegenkommen.
</div>
<div class="close">[X]</div>
</div>
</div>

<br /><br />
<div class="verb" style="left:115px;width:3px;height:25px;top:148px"></div>
<div class="verb" style="left:295px;width:3px;height:25px;top:148px"></div>
<div class="verb" style="left:475px;width:3px;height:25px;top:148px"></div>
<div class="verb" style="left:645px;width:3px;height:25px;top:148px"></div>
<div class="verb" style="left:115px;width:533px;height:3px;top:170px"></div>
<div class="verb" style="left:330px;width:3px;height:35px;top:170px"></div>
<div class="verb" style="left:500px;width:25px;height:3px;top:274px"></div>

<div class="tooltip fest" style="left:160px;top:205px">
<img src="images/entstehung/eventchef.png" alt="" />
<h4>Eventchef</h4>
<div class="ttext">
Erfahrung zeigt, dass es gut ist eine Person zu haben, die keine spezielle Aufgabe für dieses Event übernimmt, sondern den Überblick behält und die Verantwortung hat: ihr ist auch daran gelegen, dass die anderen ihre Aufgaben gut machen, was den Vorstand entlastet. Prinzip: jeder muss mal.
</div>
</div>

<div class="tooltip fest" style="left:526px;top:212px">
<img src="images/entstehung/zeitplan.png" alt="" />
<h4>Zeitplan</h4>
<div class="ttext">
Vom Eventchef wird für das Event ein Zeitplan erstellt – zusammen mit dem Vorstand achtet er auf die Durchführung und muss gegebenenfalls nachfragen, ob der Plan realistisch ist. Außerdem werden die Aufgaben am Abend aufgeteilt
</div>
</div>

</div>

<div class="digest" style="height:510px;top:1245px">

<div class="h3">Durchführung</div>

<div class="tooltip fest" style="width:350px;left:140px;top:45px">
<img src="images/entstehung/logistik.png" alt="" />
<h4>Technik & Transport</h4>
<div class="ttext">
Da wir meistens für Location und Technik verantwortlich sind, muss die letztere durch uns organisiert zum Event gefahren werden. Um genug Zeit für den Aufbau und Soundcheck zu haben müssen sich Tontechniker und die Organisation der Logistik gut absprechen.
</div>
</div>

<div class="tooltip fest" style="left:180px;top:191px">
<img src="images/entstehung/aufbau.png" alt="" />
<h4>Aufbau</h4>
<div class="ttext">
Sound, Bar, Garderobe, Kasse – meistens in 2-3er Teams haben alle ihre Aufgaben, werden vom Eventchef koordiniert und bauen den jeweiligen Teil auf. Besonders für die Technik bedeutet das, dass eine Vorstellung darüber herrschen sollte, wie es am Abend aussieht. Es gibt...
</div>
</div>

<br /><br />
<div class="verb" style="left:350px;width:3px;height:22px;top:169px"></div>
<div class="verb" style="left:350px;width:3px;height:52px;top:328px"></div>
<div class="verb" style="left:110px;width:480px;height:3px;top:350px"></div>
<div class="verb" style="left:110px;width:3px;height:30px;top:350px"></div>
<div class="verb" style="left:230px;width:3px;height:30px;top:350px"></div>
<div class="verb" style="left:470px;width:3px;height:30px;top:350px"></div>
<div class="verb" style="left:590px;width:3px;height:30px;top:350px"></div>
<div class="verb" style="left:520px;width:50px;height:3px;top:267px"></div>
<div class="verb" style="left:545px;width:25px;height:3px;top:157px"></div>
<div class="verb" style="left:545px;width:3px;height:110px;top:157px"></div>
<div>
<div class="mask" endwidth="350" endheight="143" style="left:570px;top:115px">
<div class="tooltip">
<img src="images/entstehung/soundcheck.png" alt="" />
<h4>Soundcheck</h4>
<div class="ttext">
zentrales Element, dass Band und Tontechnik zusammenbringt – wenn man gut ist, hat man dafür ebenso viel Zeit veranschlagt, wie für die Aufbau, denn merke: es gibt immer etwas, dass nicht funktioniert.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="350" endheight="143" style="left:570px;top:225px">
<div class="tooltip">
<img src="images/entstehung/band.png" alt="" />
<h4>Band</h4>
<div class="ttext">
Für die Bands muss es eine Ansprechperson geben. Am besten sind das der Eventchef und der Tontechniker. „Verdirb es dir niemals mit der Band, sie schickt die Leute schneller nach Hause als der Eintritt“
</div>
<div class="close">[X]</div>
</div>
</div>
</div>

<div>
<div class="mask" endwidth="350" endheight="143" style="left:70px;top:380px">
<div class="tooltip">
<img src="images/entstehung/garderobe.png" alt="" />
<h4>Garderobe</h4>
<div class="ttext">
„Wenn in der Garderobe was verloren geht, war für die Person das Event ein Reinfall, egal wie gut die Musik ist.“ - Die Garderobe muss genug Platz bieten und organisiert sein: Beim Event müssen mindestens zwei daran arbeiten, dass Kleidungsstück und Besitzer die gleichen Nummern bekommen.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="450" endheight="143" style="left:190px;top:380px">
<div class="tooltip" style="width:400px">
<img src="images/entstehung/technik.png" alt="" />
<h4>Technik</h4>
<div class="ttext">
Die Ton- und Lichttechniker haben das ganze Event lang die Hände voll zu tun: Die Künstler müssen mit der Bühnenshow zusammengebracht werden und wen interessiert Musik, die zwar gut ist, aber einfach schlecht klingt? Wichtig ist, dass der Techniker schon Erfahrung hat – wenn das Event zu groß für einen Schüler wird hat Afrophon Kontakt zu studierten Tontechnikern, die uns helfen.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="400" endheight="143" style="left:310px;top:380px">
<div class="tooltip" style="width:360px">
<img src="images/entstehung/bar.png" alt="" />
<h4>Bar</h4>
<div class="ttext">
Je nachdem wie gut der Kontakt zum Besitzer der Location ist überlässt Afrophon ihm die Bar, da wir uns so auf den Rest konzentrieren können. Die Bar würde eine eigene Logistik, eine Abschätzung der Besucher und weitere Mitarbeiter beanspruchen, ist aber auch bei vielen Events eine Haupteinnahmequelle.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="350" endheight="143" style="left:430px;top:380px">
<div class="tooltip">
<img src="images/entstehung/verpflegung.png" alt="" />
<h4>Verpflegung</h4>
<div class="ttext">
Da ein Großteil der Afrophon-Mitarbeiter und die Bands den halben Tag schon vor Ort sind, kümmert sich nach Absprache eine Person um Verpflegung. Außerdem lernt man sich beim Essen dann doch am besten kennen.
</div>
<div class="close">[X]</div>
</div>
</div>

<div class="mask" endwidth="350" endheight="143" style="left:550px;top:380px">
<div class="tooltip">
<img src="images/entstehung/kasse.png" alt="" />
<h4>Kasse</h4>
<div class="ttext">
Jede Woche findet zu einem festen Termin ein Afrophon-Treffen mit (fast) alle Mitarbeitern statt. Hier werden Arbeitsstände präsentiert, Fragen diskutiert und vor allem neue Event-Vorschläge gemacht und besprochen.
</div>
<div class="close">[X]</div>
</div>
</div>

</div>

</div>

<div class="digest" style="height:370px;top:1800px">

<div class="h3">Nachbereitung</div>

<div class="tooltip fest" style="left:220px; top:53px">
<img src="images/entstehung/ruecktransport.png" alt="" />
<h4>Abbau & Rücktransport</h4>
<div class="ttext">
Nach Absprache räumen wir meistens direkt nach dem Event auf, bauen aber erst einige Tage später ab. Das liegt vor allem daran, dass es, wenn die letzten gehen, eher früh am Morgen als spät am Abend ist und der Rücktransport sowieso am besten an Nachmittagen zu gewährleisten ist.
</div>
</div>
<div class="tooltip fest" style="left:70px;top:210px">
<img src="images/entstehung/finanzen.png" alt="" />
<h4>Finanzen</h4>
<div class="ttext">
Ein Mitarbeiter von Afrophon ist für die Finanzen zuständig, stellt also vor dem Event einen Überschlag aller Kosten auf und gibt so eine grobes Ziel für die Sponsoren beziehungsweise die niedrig gehaltenen Eintritte. Er verwaltet auch alle geflossenen Gelder und stellt die abschließende Bilanz auf.
</div>
</div>
<div class="tooltip fest" style="left:435px; top:210px">
<img src="images/entstehung/kritik.png" alt="" />
<h4>Kritik</h4>
<div class="ttext">
Jedes Event wird in einem Treffen ausgewertet. Ermutigung und Kritik gehören immer dazu und jedes neue Event ist eine Möglichkeit Dinge neu und besser zu machen. Dadurch, dass am Abend jeder eine andere Aufgabe hatte, sind die Blickwinkel meistens sehr unterschiedlich. 
</div>
</div>

</div>


</div>

<%= javascript_include_tag "tooltip.js" %>
