<% content_for :head do  %>
<style type="text/css">
#box {
height: 1000px;
}
</style>
<% end %>
<div id="navigation" class="ap">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="current"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div id="content">
<div class="banner"><img src="images/kontakt/banner.png"/></div> 
<% form_tag( { :action => "kontakt" }, :id => "kontakt" ) do %> 
<fieldset id="basics">
<p>
<label for="name">Name</label>
<input type="text" name="name" id="name" size="30" placeholder="Peter Enterprise" required />
</p>
<p>
<label for="email">E-Mail</label>
<input type="email" name="email" id="email" size="30" placeholder="peter@afrophon.de" required />
</p>
<p>
<label for="telefon">Telefonnummer</label>
<input type="tel" name="telefon" id="telefon" size="30" placeholder="03521 456 438" />
</p>
</fieldset>
<fieldset id="nachricht">
<p>
<label for="nachricht">Nachricht</label>
<textarea name="nachricht" id="nachricht" required></textarea>
</p>
</fieldset>
<button type="submit" value="Abschicken" >Abschicken</button>
<div id="message">Es gab einen Fehler beim Senden der Nachricht!</div>
<% end %> 
<img class="bg-form" src="images/kontakt/bg-rlink.png" />

</div>