<div id="navigation" class="ap">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="current"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/partner.html">Partner</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div id="events">
<div class="line">
<a class="event" href="/findusmc.html"></a>
<div class="event"></div>
<div class="event"></div>
<div class="event"></div>
</div>
<div class="line">
<div class="event"></div>
<div class="event"></div>
<div class="event"></div>
<div class="event"></div>
</div>
<div id="scrollbar"></div>
<div id="handle"></div>
</div>

<%= javascript_include_tag "scroll.js" %>
<%= javascript_include_tag "special.js" %>