<div id="navigation" class="ap">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="current"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal left"><a href="/poetryslam.html">Poetry Slam</a></div>
<div class="normal"><a href="/findusmc.html">Findus MC</a></div>
<div class="normal"><a href="/libellaswing.html">Libella Swing</a></div>
<div class="normal"><a href="/meissentanzt.html">Meissen Tanzt</a></div>
<div class="normal"><a href="/indierocknight.html">Indie Rock Night</a></div>
</div>
</div>
<div id="events">
<div class="line">
<div class="event" href="/findusmc.html"></div>
<div class="event" href="/findusmc.html"></div>
<div class="event"></div>
<div class="event"></div>
</div>
<div class="line">
<div class="event"></div>
<div class="event"></div>
<div class="event"></div>
<div class="event"></div>
</div>
<div id="scrollbar"></div>
<div id="handle"></div>
</div>

<%= javascript_include_tag "scroll.js" %>
<%= javascript_include_tag "jquery.mousewheel.min.js" %>
<%= javascript_include_tag "special.js" %>