<% content_for :title do  %>Kontakt » Afrophon<% end %>
<% content_for :navigation do  %>
<div class="banner"><img src="images/events/banner.png"/></div> 
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="current"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal first"><a href="/findusmc.html" class="evlink">Findus MC</a></div>
<div class="normal"><a href="/libellaswing.html" class="evlink">Libella Swing</a></div>
<div class="normal"><a href="/meissentanzt.html" class="evlink">Meissen Tanzt</a></div>
<div class="normal"><a href="/indierocknight.html" class="evlink">Indie Rock Night</a></div>
</div>
</div>
<% end %>
<div id="animation" style="background-color:#1A1A1A">
<a class="back" href="/events.html">[X]</a>
<div class="pagelarge">
Du bist in einer Band und ihr seid aus Meißen oder ihr würdet gerne mal in Meißen spielen? Du brauchst Unterstützung bei der musikalischen Gestaltung einer Veranstaltung? Du hast generell Interesse an unserem Projekt? <br /><br />
<div style="font-size:30px;text-align:center">Setz dich mit uns in Verbindung!</div><br />
<a href="/kontakt.html" style="text-decoration:underline; color:#FFF">zum Kontaktformular</a>
</div>
</div>
</div>