<% content_for :head do  %>
<style type="text/css">
#box {
height: 1010px;
}
</style>
<% end %>
<div id="navigation" class="ap">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div class="banner"><img src="images/impressum/banner.png"/></div>
<div id="content">
<div id="impressum">
<p id="adress">
Afrophon<br />
Landesgymnasium Sankt Afra<br />
Freiheit 13<br />
01662 Mei&szlig;en<br />
</p>
<p id="vorstand">
Vertretungsberechtiger Vorstand:<br />
Nick Pawlowski (Vorsitzender)<br />
Johannes F&auml;nder<br />
</p>
<p id="contact">
Telefon: +49 3521 456433<br />
E-Mail: <a href="mailto:mail@afrophon.de">mail@afrophon.de</a><br />
Internet: <a href="/">www.afrophon.de</a><br />
</p>
<p id="haftungsausschluss">
Haftungshinweis: <br />Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.
</p>
</div>
<div id="junior">
<p>
JUNIOR ist ein Projekt des Institut der deutschen Wirtschaft Köln JUNIOR gGmbH.<br /><br />JUNIOR wird auf Bundesebene durch das Bundesministerium für Wirtschaft und Technologie, die KfW Mittelstandsbank, das Handelsblatt, Gesamtmetall, Danfoss, Deloitte, der AXA Versicherung und Fed Ex gefördert.
</p> 
</div>
</div>

</a>