<div id="Navigation">
<ul>
<li class="current"><a href="/">Neuigkeiten</a></li>
<li class="normal"><a href="ueber-uns.html">&Uuml;ber uns</a></li>
<li class="normal"><a href="referenzen.html">Referenzen</a></li>
<li class="normal"><a href="kontakt.html">Kontakt</a></li>
</ul>
</div>
<div id="Inhalt">
Hallo
</div>