<% content_for :head do  %>
<style type="text/css">
#box {
height: 810px;
}
</style>
<% end %>
<div id="navigation" class="index-nav">
<div class="current left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div id="content">
<div id="ss_banner">
<div class="slide"><img src="images/index/banner.png" /></div>
<div class="slide"><img src="images/events/banner.png" /></div> 
<div class="slide"><img src="images/datenschutz/banner.png" /></div> 
<div class="slide"><img src="images/unterstuetzer/banner.png" /></div> 
<div class="slide"><img src="images/newsletter/banner.png" /></div> 
</div><div id="ss_controls"></div>
</div>
<div class="news">
<div class="newsbox resize active" style="height:224px">
<br /><h2>Neue Homepage</h2><br /><img src="images/afrophon.jpg" /><p>Nach nun einigen aufreibenden Arbeitsstunden können wir euch endlich die neue, redesignte Afrophon-Homepage präsentieren. Sie ist größer, hat und verbraucht mehr Platz und nutzt diesen schließlich um euch mehr Informationen zeigen zu können. Dies ist das erste Produkt, das im Rahmen der Bundeswettbewerbs- vorbereitung entstanden ist und zeigt euch außerdem: Wir sind wieder da! Fast alle Abiturprüfungen haben wir schon hinter uns gebracht und mit neu gewonnener Motivation, wird der Abschluss bis zur Übergabe nur umso besser!</p>
</div>
<div class="newsbox resize">
<br /><h2>AFROPHON IM FINALE</h2><br /><img src="images/index/news2.png" /><p>Wir freuen uns, euch verkünden zu dürfen, dass wir am 07.04. den sächsischen Landeswettbewerb des <a href="http://www.juniorprojekt.de">JUNIOR-Projekts</a> gewonnen haben. Wir konnten uns vor allem durch die kulturpolitische Relevanz unserer Geschäfts- idee und durch unser gutes Wirtschaften gegen die vier Konkurrenten durchsetzen. Wir sind nun eingeladen vom 15. bis zum 17. Juni nach Köln zum Bundesfinale zu fahren und dort gegen die Landessieger der anderen Bundesländer anzutreten. An dieser Stelle VIELEN DANK an EUCH! durch eure Unterstützung und durch euren Besuch unserer Events wurde all dies erst möglich! DANKE!  —  <a href="http://on.fb.me/heTIzH">Fotos von der Veranstaltung</a></p>
</div>
<div class="newsbox resize">
<br /><h2>FINDUS MC LIVE  - 19.03.</h2><br /><img src="images/index/news3.png" /><p>Meißen, was geht?! Zeit, dass Afrophon seine Hip-Hop-Jungfernfahrt antritt - und wer wäre da besser als der Meißner Rapper und gekrönte Take-The-Stage-Gewinner Findus mC. Am 19.03. rückt er an, in den Groschenkeller gegenüber vom KlimBim, zusammen mit DJs (The Funkynators), Beatboxer, Support-MC und Sängerin; und wir laden ein zum LEBEN, LIEBEN, FUNKY SEIN. Um 21:00 ist Einlass, 22:00 geht's los und nach dem Gig gibt es wie sich das gehört eine ordentliche Aftershowparty, die langsam die Reise vom Funk zum Minimal antreten wird. Bis dann!</p>
</div>
<div class="newsboxes">
<div class="newsbox">
<div style="font-size:18px;margin-top:5px;margin-bottom:5px; font-weight:700">Das nächste Afrophon-Event:</div>
<pre style="font-family: Verdana, Arial, sans serif;">
<b>Was?</b>	<i>Poetry Slam zum Literaturfest</i>
<b>Wann?</b>	<i>11. Juni, 18:30 Uhr</i>
<b>Wo?</b>		<i>Meißner Burgterasse</i></pre>
</div>
<div class="newsbox" style="padding: 15px 15px 10px 25px">
Afrophon nimmt auch am <a href="http://bundes-schuelerfirmen-contest.de/startseite/sachsen/gymnasien/afrophon/?no_cache=1">Bundesschülerfirmencontest</a> teil. Bei diesem Wettbewerb kann man sich als Schülerfirma dem bundesweiten Wettkampf aussetzen und muss sich in die Top 20 voten lassen, um später von der Jury bewertet zu werden. Votet deshalb bitte fleißig! 
</div>
<div class="newsbox" style="cursor:default">
JUNIOR ist ein Projekt des Instituts der deutschen Wirtschaft Köln Junior gGmbH. JUNIOR wird auf Bundesebene durch das Bundesministerium für Wirtschaft und Technologie, die KfW Mittelstandsbank, das Handelsblatt, Gesamtmetall, Danfoss, Deloitte, der AXA Versicherung und Fed Ex gefördert.
</div>
</div>
</div>

<%= javascript_include_tag "slideshow.js" %>
<%= javascript_include_tag "resize.js" %>