<div id="navigation" class="index-nav">
<div class="current"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div id="content">
<div id="ss_banner">
<div class="slide"><img src="images/test.png"/></div> 
<div class="slide"><img src="images/alt.png"/></div> 
<div class="slide"><img src="images/test.png"/></div> 
<div class="slide"><img src="images/alt.png"/></div> 
</div><div id="ss_controls"></div>
</div>
<div class="news">
<div class="newsbox resize active" style="height:224px">
<br /><h2>AFROPHON IM FINALE</h2><br /><img src="images/afrophon.jpg" /><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="newsbox resize">
</div>
<div class="newsbox resize">
</div>
<div class="newsboxes">
<div class="newsbox">
Test
</div>
<div class="newsbox">
Test
</div>
<div class="newsbox" style="cursor:default">
JUNIOR ist ein Projekt des Instituts der deutschen Wirtschaft Köln Junior gGmbH. JUNIOR wird auf Bundesebene durch das Bundesministerium für Wirtschaft und Technologie, die KfW Mittelstandsbank, das Handelsblatt, Gesamtmetall, Danfoss, Deloitte, der AXA Versicherung und Fed Ex gefördert.
</div>
</div>
</div>

<%= javascript_include_tag "slideshow.js" %>
<%= javascript_include_tag "resize.js" %>