<% content_for :head do  %>
<style type="text/css">
#box {
height: 1050px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="current"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal left"><a href="/sponsoren.html">Sponsoren</a></div>
<div class="normal"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/anteilseigner.html">Anteilseigner</a></div>
<div class="current"><a href="/investorrelations.html">Investor Relations</a></div>
</div>
</div>
<div class="banner"><img src="images/unterstuetzer/banner.png"/></div> 
<div id="content">
<div class="article top">
Seit August 2010 existiert Afrophon, das Schülerunternehmen aus Meißen, das sich auf die
Fahne geschrieben hat, dieser Stadt seinen Stempel aufzudrücken. „Warum nach Dresden fahren,
wenn Meißen lebendiger wird?“ Das ist die Frage hinter der Idee, Musikevents zu organisieren
und somit eine Alternative direkt vor der Haustür zu bieten. <br />
Wie sie beim Blick auf die Website sehen, haben wir das bereits sehr erfolgreich umgesetzt und immer wieder sehr gut besuchte Veranstaltungen in Meißen angeboten. Wenn Sie sich selbst überzeugen wollen, informieren sie sich weiter auf dieser Seite. <br />
Mit unseren Erfolgen stehen wir mit mehr als 300 € nach Steuern da und konnten
somit den Wert der sogenannten Anteilsscheine von 10&nbsp;€ auf 16 € anheben. Diese wurden am
Anfang des Geschäftsjahres von Afrophon verkauft und waren für uns zum einen das Grundkapital
der ersten Monate sowie das Zeichen, dass unsere Idee unterstützt wird. Als Grundbilanz
kann Afrophon auf fast 1000€ Bilanzsumme schauen, die in diesem halben Jahr durch das Unternehmen
geflossen sind. <br />
Wir blicken auf eine erfolgreiche Zusammenarbeit mit der Jungen Bühne Meißen, der
Bar KlimBim, dem Kinder- und Jugendtreff KAFF sowie vielen Einzelpersonen zurück, deren Erfahrungen
und Hinweise wir nutzen konnten und weiter nutzen werden. An dieser Stelle ein herzliches Dankeschön an alle Unterstützer und Helfer.
Lassen auch Sie sich dazu einladen, Meißen lebendiger zu machen. Dies können Sie, indem Sie uns unterstützen. Ob als Sponsor, Anteilsscheineigner oder einfach nur Besucher unserer Veranstaltungen. Es gibt viele Wege Meißens Jugendkultur zu fördern – einer davon führt über uns.
</div>
<a class="rellink" href="http://ablage.afrophon.de/bericht_afrophon.pdf" style="margin-top:400px" target="_blank">Unser Geschäftbericht &gt;&gt;<p>Werfen Sie auch einen Blick in unseren Geschäftsbericht! </p></a></div>
<img class="bg-rlink" src="images/investorrelations/bg-rlink.png" style="top:402px" />
</div>