<% content_for :head do  %>
<style type="text/css">
#box {
height: 1100px;
}
</style>
<% end %>
<% content_for :title do  %>MEISSEN TANZT » Afrophon<% end %>
<% content_for :navigation do  %>
<div class="banner"><img src="images/events/banner.jpg" alt="" /></div> 
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="current"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal first"><a href="/findusmc.html" class="evlink">Findus MC</a></div>
<div class="normal"><a href="/libellaswing.html" class="evlink">Libella Swing</a></div>
<div class="current"><a href="/meissentanzt.html" class="evlink">Meissen Tanzt</a></div>
<div class="normal"><a href="/indierocknight.html" class="evlink">Indie Rock Night</a></div>
</div>
</div>
<% end %>
<div id="animation" style="background-color:#1A1A1A">
<h2>Meissen Tanzt</h2><a class="back" href="/events.html">[X]</a>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagetext">
Am 11.12.10 veranstalteten wir im KAFF eine Disko mit dem Titel MEISSEN TANZT. Mehr als
ein Event für Jüngere gedacht, begann die Disko bereits 18 Uhr und endete um 23 Uhr. Zwei
Afrophon-Mitarbeiter legten aktuelles Tanzbares aus den Charts in Verbindung mit ein wenig
Elektro und Dubstep auf. Der Leiter des KAFFs hatte uns mit der Durchführung beauftragt, um
eine Abwechslung zum normalen Tages- und Abendprogramm für die Jugendlichen zu bieten.
</div>
<div class="pagemedia">
<img src="images/meissentanzt/page1.jpg" alt="" />
</div>
</div>
<div class="page">
<div class="pagetext">
Die Menge ging ab und Show-Einlagen, wie ein Hip-Hop-Auftritt kamen auch nicht zu kurz. So war die Veranstaltung mit ca. 70 Besuchern ein voller Erfolg und gleichzeitig auch eine schöne Jahresabschlussparty für Afrophon.
</div>
<div class="pagemedia">
<img src="images/meissentanzt/page2.jpg" alt="" />
</div>
</div>
</div>
</div>
<div id="control-right">&#x25B6;</div>
<div id="control-left">&#x25C0;</div>
</div>

<%= javascript_include_tag "presentation.js" %>