<% content_for :head do  %>
<style type="text/css">
#box {
height: 1100px;
}
</style>
<% end %>
<% content_for :title do  %>Poetry Slam » Afrophon<% end %>
<% content_for :navigation do  %>
<div class="banner"><img src="images/events/banner.jpg" alt=""/></div> 
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="current"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal first"><a href="/findusmc.html" class="evlink">Findus MC</a></div>
<div class="normal"><a href="/libellaswing.html" class="evlink">Libella Swing</a></div>
<div class="normal"><a href="/meissentanzt.html" class="evlink">Meissen Tanzt</a></div>
<div class="normal"><a href="/indierocknight.html" class="evlink">Indie Rock Night</a></div>
</div>
</div>
<% end %>
<div id="animation" style="background-color:#1A1A1A">
<h2>Poetry Slam</h2><a class="back" href="/events.html">[X]</a>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagetext">
Das <a href="http://www.literaturfest-meissen.de/" target="_blank">Meißner Literaturfest</a> stellt eine gute Plattform dar, um Kultur zu präsentieren – doch leider ist es schwierig, hierbei einen für Jugendliche interessanten Beitrag zu finden. Genau diesen möchte Afrophon dieses Jahr leisten und lädt dazu einige Slammer aus Dresden und noch weiter entfernt ein, um Meißen in die Kunst des Poetry Slam einzuführen. 
</div>
<div class="pagemedia">
<img src="images/poetryslam/page1.jpg" alt="" />
</div>
</div>
<div class="page">
<div class="pagetext">
Durch den Abend wird  Michael Bittner führen, der schon viele Slams in der Dresdner Scheune durchgeführt hat. Als Slammer treten sowohl gestandene Größen, als auch junge Nachwuchsslammer an. So begegnet man Till Reiners, Udo Tiffert, Kaddi Cutz, Konstantin Turra, Moritz Siegel, Cornelia Freitag und Henning Wenzel, aber auch jeder andere mit zwei slamfähigen Texten ist eingeladen, sich dem Wettbewerb zu stellen.<br />Deshalb ist auch die Slam-typische Abstimmung zum besten Beitrag, welche natürlich vom Publikum vorgenommen wird, nicht zu vernachlässigen. Kommt auch Ihr uns am 11. Juni um 18:30 Uhr auf der Meißner Burgterasse besuchen, um anspruchsvolle Lyrik zu genießen und entscheidet selbst, wer dieses Mal der beste Slammer war!
</div>
<div class="pagemedia" style="overflow:hidden;height:200px">
<img src="images/meissentanzt/page2.jpg" alt="" style="margin-top:-30px" />
</div>
</div>
</div>
</div>
<div id="control-right">&#x25B6;</div>
<div id="control-left">&#x25C0;</div>
</div>

<%= javascript_include_tag "presentation.js" %>