<% content_for :head do  %>
<style type="text/css">
#box {
height: 910px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="current"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="current first"><a href="/sponsoren.html">Sponsoren</a></div>
<div class="normal"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/anteilseigner.html">Anteilseigner</a></div>
<div class="normal"><a href="/investorrelations.html">Investor Relations</a></div>
</div>
</div>
<div id="content">
<div class="digest" style="height:550px">
<br /><br /><br />
<img src="images/sponsoren/kaff.png" style="width:200px" />
<img src="images/sponsoren/roethaer.png" style="width:200px" />
<img src="images/sponsoren/bresan.png" style="width:120px" />
<img src="images/sponsoren/kotzur.png" style="width:120px" />
<img src="images/sponsoren/altstadtoptik.png" style="width:200px" />
<img src="images/sponsoren/mbh.png" style="width:250px" />
<img src="images/sponsoren/brueck.png" style="width:250px" />
</div>
</div>