<% content_for :head do  %>
<style type="text/css">
#box {
height: 1000px;
}
</style>
<% end %>
<% content_for :title do  %>Sponsoren » Afrophon<% end %>
<% content_for :navigation do  %>
<div class="banner"><img src="images/unterstuetzer/banner.jpg" alt="" /></div> 
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="current"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="current left"><a href="/sponsoren.html">Sponsoren</a></div>
<div class="normal"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/anteilseigner.html">Anteilseigner</a></div>
<div class="normal"><a href="/investorrelations.html">Investor Relations</a></div>
</div>
</div>
<% end %>
<div id="content">
<div class="digest" style="height:550px">
<br /><br /><br />
<a href="http://www.sankt-afra-meissen.de/index.php?option=com_content&view=section&layout=blog&id=10&Itemid=59" target="_blank"><img src="images/sponsoren/kaff.jpg" alt="" style="width:200px" /></a>
<a href="http://www.roethaer.de/" target="_blank"><img src="images/sponsoren/roethaer.jpg" alt="" style="width:200px" /></a>
<img src="images/sponsoren/bresan.jpg" alt="" style="width:120px" />
<a href="http://www.haarschneiderei-kotzur.de/" target="_blank"><img src="images/sponsoren/kotzur.jpg" alt="" style="width:120px" /></a>
<img src="images/sponsoren/altstadtoptik.jpg" alt="" style="width:200px" />
<a href="http://www.meissener-buchhandlung.de/" target="_blank"><img src="images/sponsoren/mbh.jpg" alt="" style="width:250px" /></a>
<a href="http://www.brueck-und-sohn.de" target="blank"><img src="images/sponsoren/brueck.jpg" alt="" style="width:250px" /><a>
</div>
</div>