<% content_for :head do  %>
<style type="text/css">
#box {
height: 1100px;
}
</style>
<% end %>
<div class="banner"><img src="images/test.png"/></div> 
<div id="navigation" class="ap">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="current"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/partner.html">Partner</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div id="content">
<div class="digest"><img src="images/ueberuns.png" width="90%" style="margin-left:5%;margin-top:2%" /></div>
<div class="article">Wir sind Afrophon, eine im September 2010 gegr&uuml;ndete Sch&uuml;lerfirma aus Mei&szlig;en, die sich mit Musikmanagement befasst. Als Teilnehmer des JUNIOR-Projektes 2010/11 veranstalten wir Musikevents in Mei&szlig;en. Dabei steht das Ziel im Vordergrund, die Musik- und Jugendkultur in Mei&szlig;en zu beleben und die M&ouml;glichkeiten der Kleinstadt mehr zu nutzen. 
<br><br>
Ebenso wie wir eigene Events auf die Beine stellen, nehmen wir Anfragen, eine Veranstaltung zu organisieren, gerne an. Sei es, dass wir f&uuml;r eine Band einen Auftritt mit allem drum und dran managen, oder in einer gegebenen Location eine Party schmei&szlig;en. Wir beraten dich gerne, vermitteln Kontakte oder setzen bei Bedarf auch gleich dein komplettes Event um! Bei Anfragen steht dir das Kontaktformular zur Verf&uuml;gung.</div>
</div>
<div class="rellink picture" style="margin-top:40px">Referenten<p>Schreib uns an oder sowas jetzt noch viel lorem ipsum</p></div>
<div class="rellink" style="margin-top:300px">Unser Kontaktformular &gt;&gt;<p>Schreib uns an oder sowas jetzt noch viel mehr text bla bla bla lorem ipsum</p></div>
</div>