<% content_for :head do  %>
<style type="text/css">
#box {
height: 1010px;
}
</style>
<% end %>
<% content_for :title do  %>Über uns » Afrophon<% end %>
<% content_for :navigation do  %>
<div class="banner"><img src="images/ueber-uns/banner.jpg" alt=""/></div> 
<div id="navigation" class="ap">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="current"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<%
# <div id="catnav">
# <div class="normal left"><a href="/entstehung.html">Entstehung eines Events</a></div>
# <div class="normal"><a href="/presse.html">Presse</a></div>
# </div>
%>
</div>
<% end %>
<div id="content">
<div class="digest"><img src="images/ueber-uns/ueberuns.png" alt="" /></div>
<div class="article"  style="height:294px">Wir sind Afrophon, eine im September 2010 gegr&uuml;ndete Sch&uuml;lerfirma aus Mei&szlig;en, die sich mit Musikmanagement befasst. Als Teilnehmer des JUNIOR-Projektes 2010/11 veranstalten wir Musikevents in Mei&szlig;en. Dabei steht das Ziel im Vordergrund, die Musik- und Jugendkultur in Mei&szlig;en zu beleben und die M&ouml;glichkeiten der Kleinstadt mehr zu nutzen. 
<br><br>
Ebenso wie wir eigene Events auf die Beine stellen, nehmen wir Anfragen, eine Veranstaltung zu organisieren, gerne an. Sei es, dass wir f&uuml;r eine Band einen Auftritt mit allem drum und dran managen, oder in einer gegebenen Location eine Party schmei&szlig;en. Wir beraten dich gerne, vermitteln Kontakte oder setzen bei Bedarf auch gleich dein komplettes Event um! Bei Anfragen steht dir das <a href="/kontakt.html">Kontaktformular</a> zur Verf&uuml;gung.</div>
</div>
<img class="bg-rlink" src="images/ueber-uns/bg-rlink.jpg" alt="" />
<a class="rellink" href="/kontakt.html" style="margin-top:360px">Unser Kontaktformular &gt;&gt;<p>Schreib uns an! </p></a></div>
</a>