<% content_for :head do  %>
<title>Unterstützer » Afrophon</title>
<style type="text/css">
#box {
height: 810px;
}
</style>
<% end %>
<% content_for :title do  %>Unterstützer » Afrophon<% end %>
<% content_for :navigation do  %>
<div class="banner"><img src="images/unterstuetzer/banner.jpg" alt=""/></div> 
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="current"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal left"><a href="/sponsoren.html">Sponsoren</a></div>
<div class="normal"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/anteilseigner.html">Anteilseigner</a></div>
<div class="normal"><a href="/investorrelations.html">Investor Relations</a></div>
</div>
</div>
<% end %>
<div id="content">
<div class="news">
<div class="newsbox resize active" style="height:224px">
<br /><h2>SANKT AFRA</h2><br /><img src="images/unterstuetzer/afra.png" alt="" /><p>Das Sächsische Landesgymnasium <a href="http://www.sankt-afra.de">Sankt Afra</a> bietet nicht nur den Raum, an dem alle elf Afrophoner leben und an dem auch ein Großteil der Veranstaltungs- vorbereitung geschieht, sondern unterstützt Afrophon auch maßgeblich bei der Durchführung der Veranstaltung, wie dem Transport der Licht- und Tontechnik zum Veranstaltungsort und zurück. Mindestens genauso wichtig sind aber auch die persönlichen Tipps unseres Betreuers, Herrn Henker, sowie viele kleinere Taten der gesamten Lehrerschaft, die uns so die Umsetzung unserer Geschäftsidee erheblich erleichtern.</p>
</div>
<div class="newsbox resize">
<br /><h2>OBERBÜRGERMEISTER</h2><br /><img src="images/unterstuetzer/buergermeister.jpg" alt="" /><p>Anfang März bekamen wir die Möglichkeit, dem Meißner Oberbürgermeister Olaf Raschke die Idee und das Konzept hinter Afrophon vorzustellen, der sich sofort dafür begeistern ließ und uns deshalb noch einmal zu einem Termin in der nächsten Woche bestellte, zu dem er auch diverse Pressevertreter eingeladen hatte. Auf diese Art und Weise verschaffte er uns eine Gelegenheit um weitere Pressepräsenz zu erlangen und nutzte die Chance, einen Anteilsschein von Afrophon zu erwerben. So versicherte er uns die Unterstützung von Seiten der Stadt.</p>
</div>
<div class="newsbox resize">
<br /><h2>BRÜCK & SOHN</h2><br /><img src="images/unterstuetzer/brueck.jpg" alt="" /><p>Das Meißner Schreibwarenunternehmen <a href="http://www.brueck-und-sohn.de/" target="_blank">Brück & Sohn</a> stellt für Afrophon einen der wichtigsten Sponsoren dar. Seit unserer ersten Veranstaltung, der Indie-Rock-Night, konnten wir mit Unterstützung des traditionsreichen Meißner Buchhandels und Kunstverlages rechnen, wenn es denn einmal knapp wurde oder man die Eintrittspreise noch freundlicher gestalten wollte. Die Inhaber waren von Beginn an begeistert von der Idee, die Jugendkultur Meißens zu fördern, und unterstützen deshalb gern unser Engagement zur aktiven Mitgestaltung unserer Heimat.</p>
</div>
<img class="newsbox-right" src="images/unterstuetzer/bg-rlink.jpg" alt="" />
</div>
</div>

<%= javascript_include_tag "resize.js" %>