<div id="navigation">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">UnterstŸtzer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
</div>