<% content_for :head do  %>
<style type="text/css">
#box {
height: 810px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="current"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal left"><a href="/sponsoren.html">Sponsoren</a></div>
<div class="normal"><a href="/bands.html">Bands</a></div>
<div class="normal"><a href="/anteilseigner.html">Anteilseigner</a></div>
<div class="normal"><a href="/investorrelations.html">Investor Relations</a></div>
</div>
</div>
<div id="content">
<div class="banner"><img src="images/unterstuetzer/banner.png"/></div> 
<div class="news">
<div class="newsbox resize active" style="height:224px">
<br /><h2>SANKT AFRA</h2><br /><img src="images/unterstuetzer/afra.png" /><p>Das Sächsische Landesgymnasium Sankt Afra bietet nicht nur den Raum an dem alle elf Afrophoner leben und somit auch ein Großteil der Veranstaltungs- vorbereitung geschieht, sondern unterstützt Afrophon auch maßgeblich bei der Durchführung der Veranstaltung, wie dem Transport der Licht- und Tontechnik zum Veranstaltungsort und zurück. Mindestens genauso wichtig sind aber auch die persönlichen Tipps unseres Betreuers, Herrn Henker,  sowie zu vieler kleiner Taten der gesamten Lehrerschaft, die uns damit die Umsetzung erheblich erleichtern.</p>
</div>
<div class="newsbox resize">
<br /><h2>BÜRGERMEISTER</h2><br /><img src="images/unterstuetzer/buergermeister.png" /><p>Anfang März bekamen wir die Möglichkeit dem Meißner Oberbürgermeister Olaf Raschke die Idee und das Konzept hinter Afrophon vorzustellen, der sich sofort dafür begeistern ließ und uns deshalb noch einmal zu einem Termin in der nächsten Woche bestellte, zu dem er auch diverse Pressevertreter eingeladen hatte. Auf diese Art und Weise verschaffte er uns eine Gelegenheit um weitere Pressepräsenz zu erlangen und nutzte die Chance einen Anteilsschein von Afrophon zu erwerben. So versicherte er uns die Unterstützung von Seiten der Stadt.</p>
</div>
<div class="newsbox resize">
<br /><h2>BRÜCK & SOHN</h2><br /><img src="images/unterstuetzer/brueck.png" /><p>Das Meißner Schreibwarenunternehmen Brück & Sohn stellt für Afrophon einen der wichtigsten Sponsoren dar. Seit unserer ersten Veranstaltung, der Indie-Rock-Night, konnte man mit dessen Unterstützung rechnen, wenn es denn einmal knapp wurde oder man die Eintrittspreise noch freundlicher gestalten wollte. Die Inhaber waren von Beginn an begeistert von der Idee, die Jugendkultur Meißens zu fördern, und unterstützen deshalb gern unser Engagement zur aktiven Mitgestaltung unserer Heimat. Deshalb wollen wir uns hier rechtherzlich bei Ihnen bedanken!</p>
</div>
<img class="newsbox-right" src="images/unterstuetzer/bg-rlink.png" />
</div>
</div>

<%= javascript_include_tag "resize.js" %>