<% content_for :head do  %>
<style type="text/css">
#box {
height: 1100px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="current"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal left"><a href="/entstehung.html">Entstehung eines Events</a></div>
<div class="current"><a href="/zeitungsartikel.html">Zeitungsartikel</a></div>
</div>
</div>
<div class="banner"><img src="images/ueber-uns/banner.png"/></div> 
<div id="content">
<div id="animation" style="background-color:#1A1A1A">
<h2>Safran in Dross</h2><a class="back" href="/events.html">[X]</a>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagetext">
Safran auf Schloss Dross bezeichnet den Beginn der Tätigkeiten Afrophons und sozusagen unsere erste öffentliche Bestandsprobe. Die Veranstaltung war in Folge eines Auftrages zur Ausgestaltung eines Geburtstages ausgerichtet. 
</div>
<div class="pagemedia">
<iframe width="560" height="349" src="http://www.youtube.com/embed/jrkPLxIo79o" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="page">
<div class="pagetext">
Safran bot mehrmals den Abend über mehrmals jeweils drei bis vier Lieder dar und lockerte so die Stimmung zwischen den verschiedenen Gängen des Menüs. Das Fest war rundum gelungen - es wurde sogar eigens ein Geburtstagsständchen geschrieben. Außerdem ergab sich die Möglichkeit Kontakte zu knüpfen und auch schon erste Anteilsscheine zu verkaufen.
</div>
</div>
</div>
</div>
<div id="control-right">&#x25B6;</div>
<div id="control-left">&#x25C0;</div>
</div>

<%= javascript_include_tag "presentation.js" %>
</div>
