<% content_for :head do  %>
<title>Presse » Afrophon</title>
<style type="text/css">
#box {
height: 1100px;
}
</style>
<% end %>
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="current"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal left"><a href="/entstehung.html">Entstehung eines Events</a></div>
<div class="current"><a href="/zeitungsartikel.html">Zeitungsartikel</a></div>
</div>
</div>
<div class="banner"><img src="images/ueber-uns/banner.png" alt="" /></div> 
<div id="content">
<div id="animation" style="background-color:#1A1A1A">
<h2>Zeitungsartikel</h2>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagemedia" style="margin-top:40px">
<img src="images/zeitungsartikel/wkii-1.png" alt="" />
</div>
<div class="header3" style="margin-left:90px;cursor:pointer" onclick="goto(1)">
weiter lesen >>
</div>
</div>
<div class="page">
<div class="pagemedia" style="margin-top:150px">
<img src="images/zeitungsartikel/wkii-2.png" alt="" />
</div>
</div>
<div class="page">
<div class="pagemedia" style="margin-top:10px">
<img src="images/zeitungsartikel/sz.png" alt="" />
</div>
</div>
<div class="page">
<div class="pagemedia" style="margin-top:10px">
<img src="images/zeitungsartikel/wki.png" alt="" />
</div>
</div>
</div>
</div>
<div id="control-right">&#x25B6;</div>
<div id="control-left">&#x25C0;</div>
</div>

<%= javascript_include_tag "presentation.js" %>
</div>
