<h2>Findus MC</h2>
<div id="presentation">
<div class="page"></div>
<div class="page"></div>
</div>
<div id="control-right"></div>
<div id="control-left"></div>

<%= javascript_include_tag "presentation.js" %>