<div id="animation" style="background-color:#1A1A1A">
<div class="pagelarge">
Du bist in einer Band und ihr seid aus Meißen oder ihr würdet gerne mal in Meißen spielen? Du brauchst Unterstützung bei der musikalischen Gestaltung einer Veranstaltung? Du hast generell Interesse an unserem Projekt? <br /><br />
<div style="font-size:30px;text-align:center">Setz dich mit uns in Verbindung!</div><br />
<a href="/kontakt.html" style="text-decoration:underline; color:#FFF">zum Kontaktformular</a>
</div>
</div>
</div>