<% content_for :title do  %>INDIE ROCK NIGHT » Afrophon<% end %>
<% content_for :navigation do  %>
<div class="banner"><img src="images/events/banner.png"/></div> 
<div id="navigation" class="doublenav">
<div class="normal left"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="current"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
<div id="catnav">
<div class="normal first"><a href="/findusmc.html" class="evlink">Findus MC</a></div>
<div class="normal"><a href="/libellaswing.html" class="evlink">Libella Swing</a></div>
<div class="normal"><a href="/meissentanzt.html" class="evlink">Meissen Tanzt</a></div>
<div class="current"><a href="/indierocknight.html" class="evlink">Indie Rock Night</a></div>
</div>
</div>
<% end %>
<div id="animation" style="background-image:url(images/indierocknight/background.png)">
<h2>Indie Rock Night</h2><a class="back" href="/events.html">[X]</a>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagetext">
An­fang November hatten wir unsere erste Veranstaltung - die Indie Rock Night. Zum 17. Geburtstag des Kinder- und Jugendhauses KAFF in Meißen Triebischtal bekamen wir die Möglichkeit, die Räumlichkeiten zu nutzen, um drei wunderbaren Bands eine Bühne zu bieten. Ella Blooma und Two Birds One Stone aus Dresden sowie ATP Orchestra als Schülerband aus Meißen.
</div>
<div class="pagemedia">
<img src="images/indierocknight/page1.png" alt="" />
</div>
</div>
<div class="page">
<div class="pagetext">
Nach den etwa drei Stunden Livemusik, die diese drei Bands spielten, legte ein Klassenkamerad als DJ zur Aftershowparty auf. Somit wandelte sich die Musik an diesem Abend von harten rockigen Klängen über sanftere Töne zu einschlägigen basslastigen Beats.
</div>
<div class="pagemedia">
<img src="images/indierocknight/page2.png" alt="" />
</div>
</div>
<div class="page">
<div class="pagetext">
Rund 130 Zuschauer waren gekommen um zu erleben, wie die jungen Musiker das
KAFF zum Beben brachten. Alles in allem also ein super Start in die Organisation von
Musikveranstaltungen!
</div>
<div class="pagemedia">
<iframe width="560" height="349" src="http://www.youtube.com/embed/qMN9i1uUUwM" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="page">
<div class="pagemedia">
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/?ie=UTF8&amp;ll=51.15287,13.458488&amp;spn=0.00323,0.006866&amp;z=17&amp;output=embed" style="margin-top:30px"></iframe>
</div>
</div>
</div>
</div>
<div id="control-right">&#x25B6;</div>
<div id="control-left">&#x25C0;</div>
</div>

<%= javascript_include_tag "presentation.js" %>