<div id="animation" style="background-color:#1A1A1A">
<h2>Meissen Tanzt</h2>
<div id="presentation">
<div id="pages">
<div class="page">x</div>
<div class="page"></div>
<div class="page"></div>
<div class="page"></div>
<div class="page"></div>
<div class="page"></div>
</div>
</div>
<div id="control-right">&#x25B6;</div>
<div id="control-left">&#x25C0;</div>
</div>

<%= javascript_include_tag "presentation.js" %>