<% content_for :head do  %>
<title>Kindergartendisco » Afrophon</title>
<% end %>
<div id="animation" style="background-color:#1A1A1A">
<h2>Kinder Disco</h2><a class="back" href="/events.html">[X]</a>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagetext">
Kindergartendisco – eigentlich etwas ungewöhnliches, wenn man an Afrophon denkt. Doch Auftrag ist Auftrag und man muss sich doch schon heute um die Kunden von Morgen kümmern. So wurden wir angesprochen, dass wir doch am 23. November eine Kinderdisco im Meißner Kindergarten durchführen sollten. Anfangs etwas skeptisch und mit leichter Ungewissheit der Musikgeschmäcker ging es dann los: Strobes und kleine PA unter den Arm geklemmt und ab in den Kindergarten! Dort hieß es die beiden Notebooks auf den Tisch gestellt und den Farbwechsler noch an das dazugehörige Stativ geschraubt und ab geht’s! Zwei Stunden Dauerbeschallung und das nicht nur mit Kinderliedern. Die Kids waren begeistert und die nächste Disco wird mit großer Vorfreude erwartet.
<br />
</div>
<div class="pagemedia">
<img src="images/kinderdisco/page1.png" alt="" />
</div>
</div>
</div>
</div>
</div>
