<div id="animation" style="background-image:url(images/libellaswing/background.png)">
<h2>Libella Swing</h2><a class="back" href="/events.html">[X]</a>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagetext">
LIBELLA SWING – Parov Stelars Hit als Vorbild genommen und schon stand das nächste Event:  Wir luden die Meissner Band Té­ter es Würfel ein, die elektronische Beats mit dem Sound von klassischen Instrumenten wie Klarinette, Geige und Klavier zusammenbringt und ließen einige DJs danach zur Aftershowpar­ty auflegen. 
</div>
<div class="pagemedia">
<img src="images/libellaswing/page1.png" />
</div>
</div>
<div class="page">
<div class="pagetext">
LIBELLA SWING war der größte Er­folg, den Afrophon in seiner Geschichte feiern durfte. Mit über 250 Besuchern war das Klim­Bim komplett gefüllt und bereit für das grandi­ose Set von Téter es Würfel, die nicht nur mu­sikalisch, sondern auch mit ihrer Bühnenshow überzeugten. Das Genre Electro Swing kam noch besser an, als wir erwartet hatten, sodass fast alle auch zur Aftershowparty blieben und es insgesamt eine wunderbare lange Nacht mit viel guter Musik und Feierlaune wurde.
</div>
<div class="pagemedia">
<img src="images/libellaswing/page2.png" />
</div>
</div>
<div class="page">
<div class="pagemedia">
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=klim+bim+meissen&amp;aq=&amp;sll=51.152176,13.45896&amp;sspn=0.008022,0.022724&amp;ie=UTF8&amp;hq=klim+bim&amp;hnear=Mei%C3%9Fen,+Sachsen&amp;ll=51.16192,13.46947&amp;spn=0.006295,0.006295&amp;output=embed" style="margin-top:30px"></iframe>
</div>
</div>
</div>
</div>
<div id="control-right">&#x25B6;</div>
<div id="control-left">&#x25C0;</div>
</div>

<%= javascript_include_tag "presentation.js" %>