<div id="animation" style="background-color:#1A1A1A">
<h2>Meissen Tanzt</h2><a class="back" href="/events.html">[X]</a>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagetext">
Am 11.12.10 veranstalteten wir im KAFF eine Disko mit dem Titel MEISSEN TANZT. Mehr als
ein Event für Jüngere gedacht, begann die Disko bereits 18 Uhr und endete um 23 Uhr. Zwei
Afrophon-Mitarbeiter legten aktuelles Tanzbares aus den Charts in Verbindung mit ein wenig
Elektro und Dubstep auf. Der Leiter des KAFFs hatte uns mit der Durchführung beauftragt, um
eine Abwechslung zum normalen Tages- und Abendprogramm für die Jugendlichen zu bieten.
</div>
<div class="pagemedia">
<img src="images/meissentanzt/page1.png" />
</div>
</div>
<div class="page">
<div class="pagetext">
Finanziell schon im Voraus durch Sponsoren auf der sicheren Seite, hatten wir auch mit diesem Event den Erfolg in der Tasche; Spaß und Erfahrung gab es natürlich auch wieder in großen Die Veranstaltung war mit ca. 70 Besuchern ein voller Erfolg und gleichzeitig auch eine schöne Jahresabschlussparty für Afrophon.
</div>
<div class="pagemedia">
<img src="images/meissentanzt/page2.png" />
</div>
</div>
</div>
</div>
<div id="control-right">&#x25B6;</div>
<div id="control-left">&#x25C0;</div>
</div>

<%= javascript_include_tag "presentation.js" %>