<% content_for :head do  %>
<title>Poetry Slam » Afrophon</title>
<% end %>
<div id="animation" style="background-color:#1A1A1A">
<h2>Poetry Slam</h2><a class="back" href="/events.html">[X]</a>
<div id="presentation">
<div id="pages">
<div class="page">
<div class="pagetext">
Das Meißner Literaturfest stellt eine gute Plattform dar um Kultur zu präsentieren – doch ist es schwierig hierbei einen für Jugendliche interessanten Beitrag zu finden. Eben diesen möchte Afrophon dieses Jahr leisten und lädt dazu einige Slammer aus Dresden und noch weiter Weg ein, um Meißen in die Kunst von Poetry Slam einzuführen. Durch den Abend wird  Michael Bittner führen, der schon viele Slams in der Dresdner Scheune organisiert hat. Nicht zu vernachlässigen ist auch die Slam-typische Abstimmung zum besten Beitrag, welche natürlich vom Publikum vorgenommen wird. Kommt auch Ihr uns am 11. Juni um 18:30 Uhr auf der Meißner Burgterasse  besuchen, um anspruchsvolle Lyrik zu genießen und sich auch in die Entscheidung einzubringen.
</div>
<div class="pagemedia">
<img src="images/poetryslam/page1.png" alt="" />
</div>
</div>
</div>
</div>
</div>
