<?xml version="1.0" encoding="UTF-8"?>
<event>
	<title>
		<%= yield:title %>
	</title>
	<header>
		<![CDATA[
			<%= yield:navigation %>
		]]>
	</header>
	<dyncontent>
		<![CDATA[
			<%= yield %>
		]]>
	</dyncontent>
</event>